/*
.l-grid {
    width: 1120px;
}
.l-content {
    width: 790px;
}
.feature, .spotlight {
    width: 490px;
}
*/
.site-footer{
  width: 0!important;
  height: 0!important;
  padding: 0!important;
  margin: 0!important;
  display: none!important;
  visibility: hidden!important;
}
