*,
.has_transition, 
.title-news a{
  transition: none !important;
}
.wrapper-topstory-folder.wrapper-topstory-folder-v2 .article-topstory{
  background: #fff!important;
  background-color: #fff!important;
}

#box_comment_vne,
a.count_cmt,
a.icon_commend,
.meta_post_art .count_comment,
.coppy_right_info,
footer.footer,
.col-right-top,
.wrapper-topstory-folder.wrapper-topstory-folder-v2.wrapper-topstory-home .list-sub-feature li.item-gocnhin{
  width: 0!important;
  height: 0!important;
  padding: 0!important;
  margin: 0!important;
  display: none!important;
  visibility: hidden!important;
}

.col-left-top{
  width: auto!important;
}

.wrapper-topstory-folder.wrapper-topstory-folder-v2 .article-topstory{
  padding-right: 0!important;
}

.wrapper-topstory-folder .article-topstory .title-news {
  font-size: 28px!important;
}

.wrapper-topstory-folder.wrapper-topstory-folder-v2.wrapper-topstory-home .list-sub-feature li {
  width: 50%;
}

.wrapper-topstory-folder.wrapper-topstory-folder-v2 .list-sub-feature li .title_news{
  font-size: 18px!important;
}

img{
  border-radius: 10px;
}

/* body{
  border: 10px solid #f0f!important;
} */